.login__bg--container {
    background-image: url('../images/cms-login-bg.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.login__form {
    width: 80%;
    margin: 0 auto;
}