.signup__bg--container {
    background-image: url('../images/cms-signup-bg.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.signup__form {
    width: 80%;
    margin: 0 auto;
}